
<footer class="footer">
    <div class="row redes">


      <div class="col-xl 12 col-lg-12 col-md-3 col-sm-12 col-xs-12">
        <p> Buscanos en nuestras redes!</p>
      </div>


      <div class="col-xl 3 col-lg-3 col-md-3 col-sm-12 col-xs-12 info-redes">
        <a href="https://www.facebook.com/"> <img src="/img/redes/fb.png" alt="facebook"> /OverflodShoes</a>
      </div>

      <div class="col-xl 3 col-lg-3 col-md-3 col-sm-12 col-xs-12 info-redes">
        <a href="https://www.twitter.com"> <img src="/img/redes/twww.png" alt="facebook"> /OverflodShoes</a>
      </div>

      <div class="col-xl 3 col-lg-3 col-md-3 col-sm-12 col-xs-12 info-redes">
        <a href="https://www.instagram.com/"> <img src="/img/redes/instragram.png" alt="facebook"> /OverflodShoes</a>
      </div>
    </div>

    <div class="row div-footer">
      <div class="col-xl 3 col-lg-3 col-md-3 col-sm-6 col-xs-12 modificado">
        <article>
          <h4>Gracias por elegirnos!</h4>
          <p>Tenemos muchas variedades para vos</p>
          <p>¿Qué esperas? compra ya!</p>
        </article>
      </div>

      <div class="col-xl 3 col-lg-3 col-md-3 col-sm-6 col-xs-12 modificado">
        <article>
          <h4>Envíos a todo el país!</h4>
          <p>Consultar costos de envío</p>
          <p>Antes de ofertar <br> verifica que hay stock</p>
        </article>
      </div>

      <div class="col-xl 3 col-lg-3 col-md-3 col-sm-6 col-xs-12 formas-pago">
        <article>
          <h4 class="modificado">Formas de pago</h4>
          <ul>
            <li >Efectivo <img class="imagen-pagos" src="/img/redes/efectivo.png" alt=""></li>
            <li >Visa <img class="imagen-pagos" src="/img/redes/visa.png" alt=""></li>
            <li >Mastercard <img class="imagen-pagos" src="/img/redes/tarjeta-mastercard.png" alt=""></li>
          </ul>
        </article>
      </div>

      <div class="col-xl 3 col-lg-3 col-md-3 col-sm-6 col-xs-12 nosotros">
        <ul>
          <li><a href="/politicas">Politicas de privacidad</a></li>
        </ul>
        <h5>comunicate con OverflodShoes</h5>
        <h6>Teléfono: 0800-555 overflod-</h6>
      </div>


    </div>
  </footer>
<!--scripts de bootstrap-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>