@import "header.css";
@import "general.css";
@import "footer.css";
@import "index.css";
@import "detalleProducto.css";
@import "register.css";
@import "login.css";
@import "carrito.css";
@import "politicas.css";
@import "cargaProducto.css";
@import "productos.css";
@import "editarProducto.css";
@import "perfil.css";